@media (max-width: 480px) {
    .products-grid {
        grid-template-columns: 1fr;
    }

    /* Ajustar el tamaño del logo */
    .navbar-brand img {
        width: 100px; /* Ajusta este valor según sea necesario */
        height: auto;
    }

    /* Alinear productos en el carrito */
    .carrito-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px 0;
    }

    .carrito-item span {
        width: 100%;
        text-align: center;
    }

    .carrito-header {
        display: none;
    }

    /* Alinear productos en el modal del carrito */
    .modal-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 15px;
    }

    .carrito-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
        padding: 10px 0;
    }

    .carrito-item span {
        width: 100%;
        text-align: center;
    }

    .carrito-header {
        display: none;
    }

    .btn-cantidad {
        width: 25px;
        height: 25px;
        font-size: 1em;
    }

    .cantidad-display {
        min-width: 20px;
    }

    .carrito-header {
        grid-template-columns: 2fr 1fr auto;
    }

    .carrito-item {
        grid-template-columns: 2fr 1fr auto;
    }

    .carrito-header span:nth-child(3),
    .carrito-item span:nth-child(3) {
        display: none; /* Oculta la columna de Precio */
    }

    .btn-cantidad {
        background: none;
        color: var(--primary-color);
        border: none;
        font-size: 1.5em;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: color 0.3s ease;
    }

    .fixed-header {
        height: 70px; /* Reduce la altura del header */
    }

    .main-logo {
        height: 120px; /* Aumenta el tamaño del logo */
    }

    .logo-container {
        padding: 0; /* Reduce el padding para compactar el margen */
    }
}
